.formBooking {
	height: 700px;
	padding: 16px 20px;
}

@media (max-width: 580px) {
	.formBooking {
		min-height: 100vh;
		height: 100%;
	}
}

.formBookingStep {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.title {
	font-weight: 700;
	font-size: 32px;
	line-height: 32px;
	color: #000000;
	margin-bottom: 8px;
}

.subtitle {
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	margin-bottom: 24px;
}

.row {
	min-height: 32px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0 24px;
	align-items: center;
}

@media (max-width: 580px) {
	.row {
		grid-template-columns: 1fr;
		gap: 5px 0;
	}
}

.row {
	margin-bottom: 24px;
}

.rowAlignBaseline {
	align-items: baseline;
}

@media (max-width: 580px) {
	.rowTotal {
		grid-template-columns: 1fr 1fr;
	}
}

.rowBottom {
	display: flex;
	align-items: center;
	margin-top: auto;
	margin-bottom: 0;
}

@media (max-width: 580px) {
	.rowBottom {
		flex-direction: column-reverse;
	}
}

@media (max-width: 580px) {
	.row.rowInsurance {
		display: flex;
		margin-bottom: 47px;
	}
}

.label {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}

.labelRadio {
	position: relative;
	padding-left: 26px;
}

.labelRadio::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 16px;
	height: 16px;
	border: 1px solid #000;
	border-radius: 100px;
	background: #fff;
	margin: auto;
}

.labelRadio::after {
	display: none;
	content: '';
	position: absolute;
	top: 6px;
	left: 4px;
	bottom: 0;
	width: 8px;
	height: 8px;
	background: #000;
	border-radius: 100px;
}

.radioGroupBox {
	display: grid;
	gap: 10px;
}

@media (max-width: 580px) {
	.radioGroupBox {
		display: none;
	}
}

.radioGroup {
	display: flex;
	align-items: center;
}

.input {
	width: 100%;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	color: #000000;
	background: #ffffff;
	border: 1px solid #e5e7eb;
	border-radius: 4px;
	padding: 6px 8px;
}

.inputRadio {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.inputRadio:checked + .labelRadio::after {
	display: block;
}

.selectTypeRoom {
	width: 100%;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	color: #000000;
	background: #ffffff;
	border: 1px solid #e5e7eb;
	border-radius: 4px;
	padding: 6px 8px;
}

.inputInsuranceCheckbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.labelInsuranceCheckbox {
	position: relative;
}

.labelInsuranceCheckbox::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 16px;
	height: 16px;
	border: 1px solid #000000;
	border-radius: 2px;
	margin: auto;
}

.labelInsuranceCheckbox::after {
	display: none;
	content: '';
	position: absolute;
	top: -6px;
	left: 6px;
	width: 5px;
	height: 9px;
	border-right: 2px solid #000000;
	border-bottom: 2px solid #000000;
	transform: rotate(45deg);
}

.inputInsuranceCheckbox:checked + .labelInsuranceCheckbox::after {
	display: block;
}

@media (max-width: 580px) {
	.inputInsuranceWrapper {
		display: none;
	}

	.inputToggleInsuranceWrapper {
		margin-left: auto;
	}
}

.inputToggleInsuranceLabel > .inputToggleInsurance {
	display: none;
}

.inputToggleInsuranceLabel {
	position: fixed;
	display: block;
	width: 58px;
	height: 32px;
	position: relative;
	top: 0;
	left: 0;
	bottom: 0;
	border-radius: 50px;
	margin: auto;
}

.inputToggleInsuranceLabel .inputToggleInsuranceInner {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50px;
	border: 2px solid #e8e8e8;
	background: #d1d5db;
	border-radius: 32px;
	transition: all 0.2s ease;
}

.inputToggleInsuranceLabel .inputToggleInsuranceBullet {
	width: 28px;
	height: 28px;
	position: relative;
	top: 2px;
	left: 2px;
	background: #ffffff;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
	border-radius: 50%;
	transition: all 0.3s ease;
}

.inputToggleInsuranceLabel .inputToggleInsurance:checked ~ .inputToggleInsuranceInner {
	border: 16px solid #2ecc71;
	transition: all 0.2s ease;
}

.inputToggleInsuranceLabel .inputToggleInsurance:checked ~ .inputToggleInsuranceBullet {
	left: 28px;
	transition: all 0.3s ease;
	animation: 0.2s bullet;
}

@keyframes bullet {
	0%,
	100% {
		width: 25px;
	}
	40% {
		width: 30px;
	}
}

.total,
.rub {
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}

@media (max-width: 580px) {
	.total {
		text-align: right;
	}
}

.btnSubmit {
	width: 128px;
	height: 39px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #ffffff;
	background: #3b82f6;
	outline: none;
	border: 2px solid #f9fafb;
	border-radius: 4px;
	cursor: pointer;
	transition: 0.7s;
	padding: 10px 14px;
	margin-left: auto;
	margin-right: -2px;
}

.btnSubmit:hover {
	background: linear-gradient(0deg, #60a5fa, #60a5fa), #60a5fa;
}

.btnSubmit:disabled {
	background: #d1d5db;
}

.btnSubmit:focus,
.btnSubmi:focus-visible,
.btnSubmit:focus-within {
	box-shadow: 0 0 0 3px #3b82f6;
}

@media (max-width: 580px) {
	.btnSubmit {
		width: 100%;
	}
}

.inputDate::-webkit-calendar-picker-indicator {
	opacity: 0;
}

.inputDateWrapper {
	position: relative;
}

.inputDateWrapper::after {
	content: '';
	position: absolute;
	width: 18px;
	height: 18px;
	top: 0;
	right: 8px;
	bottom: 0;
	background: url('./date-icon.svg') no-repeat;
	pointer-events: none;
	margin: auto;
}

.inputError {
	color: #ef4444;
	background: #fef2f2;
	border: 1px solid #fecaca;
}

.inputError:focus {
	outline: 1px solid #fecaca;
}

.inputWrapper {
	position: relative;
}

.errorMessage {
	position: absolute;
	left: 8px;
	bottom: -15px;
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;
	color: #ef4444;
}

.btnPrev {
	width: 248px;
	height: 39px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #ffffff;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
	border: none;
	cursor: pointer;
	padding: 10px 14px;
}

@media (max-width: 580px) {
	.btnPrev {
		width: 100%;
	}
}

.text {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
	margin-bottom: 6px;
}

.textBold {
	font-weight: 600;
}

.price {
	font-weight: 600;
	margin-left: 4px;
}

.textBottom {
	display: flex;
	align-items: center;
	margin-top: 14px;
	margin-bottom: 375px;
}

@media (max-width: 580px) {
	.textBottom {
		margin-bottom: 277px;
	}
}

.successIcon {
	width: 134px;
	height: 134px;
	margin: 236px auto 13px auto;
}

.successTitle {
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	color: #000000;
	margin-bottom: 20px;
}

.btnSuccess {
	width: 300px;
	height: 39px;
	padding: 10px 14px;
	margin: 0 auto;
}

@media (max-width: 580px) {
	.btnSuccess {
		margin-top: auto;
	}
}
